<h2>Delete <%= @page.name %></h2>
<p>Are you sure you want to delete <%= @page.name %>?</p>
<%= form_for(@page, method: 'delete') do |f| %>
  <%= f.submit('Delete', class: 'Delete-button') %>
<% end  %>
