// Place all the styles related to the Subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table{
  border-collapse: collapse;
}
th{
  background-color: #008b7a;
}
th, td{
  padding: 10px;
  border: 1px solid black;
}
tr:nth-child(even){
  background-color: #c6c7c8;
}
.back-link{
  font-size: 1.2em;
  font-weight: bold;
}
a{
  color:#104859;
}
a:visited {
  color: #104859;
}
